torch==2.8.0
matplotlib==3.10.6
numpy==2.3.3
tqdm==4.67.1
pandas==2.3.3
seaborn==0.13.2
scipy==1.16.2
scikit-learn==1.7.2
comm==0.2.3
ipython==9.6.0
jupyter-client==8.6.3
jupyter-core==5.9.1
matplotlib-inline==0.1.7
tornado==6.5.2
kagglehub==0.3.13
requests==2.32.5
urllib3==2.5.0